.footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #ccc;
    background-color:#1b1f23;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex: 1;
  }


  
  